@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    <link href="~/css/site.min.css" rel="stylesheet" />
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light p-3 m-3">
        <div class="container">
            <a class="navbar-brand" href="~/home/clientlogin">Déconnexion</a>

            <div class="navbar-nav">
                <a class="nav-item nav-link" href="~/home/ClientPage">Produits</a>
                <a class="nav-item nav-link" href="~/home/clientlistefactures">Alimenter le solde</a>
                <a class="nav-item nav-link" href="~/panier/facture">Factures</a>
                <a class="nav-item nav-link" href="~/home/EditProfilClient">Profil</a>
                <a class="nav-item nav-link" href="~/panier/panier">Panier </a>
                <a class="nav-item nav-link" href="~/home/StatClient">Statiques</a>

            </div>
        </div>
    </nav>

    <h3>Welcome @ViewBag.Nom_Client</h3>

    <div class="container-fluid p-5 w-100">
        @RenderBody()

    </div>
</body>
</html>