@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "_Layout";
}
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@model DemoAspNet.Models.Client

<h1 class="pb-3">Client - Nouveau profil</h1>

<form asp-action="AddClient">
    <div class="form-group">
        <label class="form-label" asp-for="Nom">Nom</label>
        <input class="form-control" type="text" asp-for="Nom" required />
        <span asp-validation-for="Nom" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label class="form-label" asp-for="Prenom">Prénom</label>
        <input class="form-control" type="text" asp-for="Prenom" required />
        <span asp-validation-for="Prenom" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label class="form-label" asp-for="Solde">Solde Initial</label>
        <input class="form-control" type="text" asp-for="Solde" required />
        <span asp-validation-for="Solde" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label class="form-label" asp-for="Mdp">Mot de passe</label>
        <input class="form-control" type="password" asp-for="Mdp" required />
        <span asp-validation-for="Mdp" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary mt-3 w-100">Creation</button>
</form>

