@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "_SellerPage";
}
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@model DemoAspNet.Models.Seller

<h1 class="pb-3">Merci ! de participé dans la croissance de note platforme</h1>

<div class="alert alert-danger" role="alert">
    le produit a ajouté avec success !
</div>


<a href="~/Home/SellerPage" class="btn btn-success" role="button"><i class="bi bi-box-arrow-left"></i> Retour</a>