@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = "_Layout";
    ViewBag.Title = ViewBag.Title;
}
@model  DemoAspNet.Models.Client;

<h1 class="pb-3">Client - connexion</h1>
@if (TempData["AlertMessage"] != null)
{
	<script>
		alert('@TempData["AlertMessage"]');
	</script>
}
<form asp-action="ClientPageT">
    <div class="container p-3">
        <div class="row">
            <select asp-for="Id" class="form-select form-select-lg mb-3" aria-label=".form-select-lg example">

                @foreach (DemoAspNet.Models.Client client in ViewBag.Clients)
                {
                    <option value="@client.Id">@client.Nom</option>
                }
            </select>

            <div class="col m-3"><input asp-for="Mdp" type="password" class="form-control" placeholder="Password ..." required /></div>


        </div>
        <div class="input-group-prepend">
            <div class="col">
                <button type="submit" class="btn btn-success w-100 p-3 m-3"><i class="bi bi-search"></i>Se connecter</button>
            </div>
        </div>
    </div>
</form>

 <div class="input-group-prepend">
    <a href="~/Home/addclient" class="btn btn-outline-secondary w-100 p-3" role="button"><i class="bi bi-box-arrow-left"></i>Créer un nouveau compte</a>
  </div>
<div class="input-group-prepend">
    <a href="~/Home/sellerlogin" class="btn btn-outline-secondary w-100 p-3" role="button"><i class="bi bi-box-arrow-left"></i>Aller a l'interface vendeur</a>
</div>




