@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "_SellerPage";
}
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{

    ViewBag.Title = ViewBag.Title;
}
@if (TempData["AlertMessage"] != null)
{
    <script>
        alert('@TempData["AlertMessage"]');
    </script>
}
@using DemoAspNet.Controllers;
@using DemoAspNet.Models;


@model DemoAspNet.Models.Seller
<h1 class="pb-3">Vendeur - Modifier informations</h1>


<form asp-action="EditProfilVendeur">
    <div class="container p-5">
        <div class="row">
            <div class="col"><input asp-for="Nom" type="text" class="form-control" placeholder="Nom ..." required /></div>
            <div class="col"><input asp-for="Prenom" type="text" class="form-control" placeholder="Prénom ..." required /></div>
            <div class="col"><input asp-for="Id" type="text" class="form-control" placeholder="Vous ne pouvez pas modifier Id " value="@ViewBag.Id_Vendeur" disabled /></div>
            <div class="col"><button type="submit" class="btn btn-success w-100"><i class="bi bi-search"></i>Modifier</button></div>
        </div>
    </div>
</form>

<a href="~/Home/SellerPage" class="btn btn-primary mx-auto w-100" role="button"><i class="bi bi-box-arrow-left"></i> Retour</a>

