@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@{
    Layout = "_ClientPage";
}

<h1 class="pb-3">Facture</h1>
<div class="d-flex">
    <h3>Nom et Prenom Client Connecté</h3>
    <a href="~/Home" class="btn btn-primary mx-auto w-50" role="button"><i class="bi bi-box-arrow-left"></i> Retour</a>

</div>