@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "_SellerPage";
}
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelperss
@model DemoAspNet.Models.Seller

<h1 class="pb-3">Vendeur - Gestion des produits</h1>  