@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "_ClientPage";
}
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@model DemoAspNet.Models.Seller

<h1 class="pb-3">Merci  ! de participer dans la croissance de note platforme</h1>

<div class="alert alert-danger" role="alert">
    Votre solde a alimenté avec success !
</div>


<a href="~/Home/ClientPage" class="btn btn-success" role="button"><i class="bi bi-box-arrow-left w-100"></i> Retour</a>