@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = "_ClientPage";
    ViewBag.Title = ViewBag.Title;
}

@using DemoAspNet.Controllers;
@using DemoAspNet.Models;

@model DemoAspNet.Models.Panier

<h1 class="pb-3">Panier</h1>
<div class="d-flex">
    <a href="~/Home/ClientPage" class="btn btn-primary mx-auto w-100 p-7" role="button"><i class="bi bi-box-arrow-left"></i> Retour</a>

</div>


@foreach (DemoAspNet.Models.Panier panier in ViewBag.Products)
    {
        <div class="col">
            <partial name="_Panier" model=panier />
        </div>
    }


<hr />
